 <section class="seccion-3 carrusel-section">
          <div class="carrusel-contenedor">
              <button class="carrusel-btn carrusel-btn-prev" onclick="moverCarrusel(-1)" hidden="">
                
                <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M42.6667 16L21.3333 32L42.6667 48" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

              </button>
              <div class="carrusel-lista">
                <a href="/html/decimasDeHistoria.html">
                  <div class="carrusel-elemento">
                      <img src="/recursos/historia.jpg" alt="décimas de historia">
                      <div class="carrusel-texto">Décimas de historía</div>
                  </div>
                </a>
                  <a href="/html/decimasDeAmor.html">
                   <div class="carrusel-elemento">

                      <img src="/recursos/amor.jpg" alt="décimas de amor">

                      <div class="carrusel-texto">Décimas de amor</div>
                  </div>
                  </a>
                  
                 <a href="/html/decimasDeComedia.html">

                   <div class="carrusel-elemento">


                      <img src="https://imgs.search.brave.com/YQPK0pQl5aju9pdtlVVRxiaZaDXkrci4VJyAuLGsOE4/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90by1ncmF0aXMv/bWFzY2FyYXMtY29t/ZWRpYS10cmFnZWRp/YV8yMy0yMTUxOTQ5/ODI2LmpwZz9zZW10/PWFpc19oeWJyaWQ" alt="décimas de comedia">

                      <div class="carrusel-texto">Décimas de comedia</div>
                  </div>
                </a>
                  
              </div>
              <button class="carrusel-btn carrusel-btn-next" onclick="moverCarrusel(1)" hidden="">
                <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.3333 16L42.6667 32L21.3333 48" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>               
              </button>
          </div>
      </section>