<section class="mb-5 row mt-5 w-100">
      <article class="col-sm-12 col-md-6">
        
      <form action="/index.html">
        <div class="form-titulo mb-2">
          <h2 class="fs-6">Deja un comentario</h2>
          <small><p>Tu dirección de correo electrónico no será publicado.   <br>
          Los campos obligatorios estan marcados con *
          </p></small>
        </div>

        <div>
          <textarea name="comentario" class="form-control"   required rows="6">Deje un comentario aquí...
          </textarea>
          <br>
          
          <div class="">
            <input class="form-control col-sm-12 col-md-6" type="text" placeholder="Nombre*">
            <br>
            <input type="email" class="form-control" placeholder="E-mail*">
          </div>
        </div>
        
        <div>
          <br>
        <button disabled="" class="btn btn-secondary text-white fw-bold">Publicar comentario</button>
        </div>
        
      </form>
      </article>
  </section>