<footer class="">
      <div class="footer-contenedor">
        <a href=" /index.html">
          
          <div class="footer-seccion footer-seccion-logo">
              <img src="/recursos/logo.svg" alt="JRBlog">
              <p class="text-center"> <span class="blue">-</span>JOSÉ R. MARCANO <span class="blue">-</span></p>
          </div>
        </a>
          <div class="footer-seccion">
              <h3 class="underline-azul">Conóceme</h3>
              <ul>
                  <li><a href="/html/sobre-mi.html">Sobre mí</a></li>
                  <li><a href="/index.html#decimas">Decimas</a></li>
                  <li><a href="/html/galeria.html">Galería</a></li>
                  <li><a href="/html/galeria.html#musica">Música</a></li>
                  
              </ul>
          </div>
          <div class="footer-seccion">
              <h3 class="underline-azul">Contacto</h3>
              <ul>
                  <li><a href="/html/contacto.html">Contacto</a></li>
                  <li><a href="mailto:jrblog1933@gmail.com">jrblog1933@gmail.com</a></li>
              </ul>
          </div>
          <div class="footer-seccion">
              <h3 class="underline-azul">Información</h3>
              <ul>
                  <li><a href="/html/aviso-legal.html">Aviso legal</a></li>
                  <li><a href="/html/politica.html">Política de privacidad y cookies</a></li>
              </ul>
          </div>
      </div>

      <div class="footer-copyright">
        <p>Copyright 2025 © JRBlog -José R. Marcano-</p>
    </div>
      
  </footer>
  


