
    <header class="">
      
      <nav class="navbar navbar-expand-lg  navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="/index.html">
            <div class="navbar-logo">
              <div class="">
                <img class="img-fluid" width="59" src="/recursos/logo.svg">          
              </div>
              
            </div>
          </a>
    <button class="navbar-toggler btn-menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link index" aria-current="page" href="/index.html" >Home
            <i class="ms-1 fas fa-home"></i></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle decimas" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Décimas <i class="ms-1 fas fa-feather-alt"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item " href="/html/decimasDeHistoria.html">Historicas</a></li>
            <li><a class="dropdown-item" href="/html/decimasDeAmor.html">Amor</a></li>
            <li><a class="dropdown-item" href="/html/decimasDeComedia.html">Comedia</a></li>
            
          </ul>
        </li>
        

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle relatos" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Relatos <i class="ms-1 fas fa-book-open"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item re-item" href="/html/relatos.html#historia">Historia</a></li>
            <li><a class="dropdown-item  re-item" href="/html/relatos.html#lecciones">Reflexiones</a></li>
            <li><a class="dropdown-item re-item" href="/html/relatos.html#comicas">Situaciones Cómicas</a></li>
            
            <li><a class="dropdown-item re-item" href="/html/relatos.html#cuentos">Cuentos cortos</a></li>

            <li><a class="dropdown-item re-item" href="/html/relatos.html#experiencias">Experiencias Profesionales</a></li>
            <li><a class="dropdown-item re-item" href="/html/relatos.html#viajes">Aventuras y viajes</a></li>

            
            <li><a class="dropdown-item re-item" href="/html/relatos.html#videos">Relatos Audiovisuales</a></li>

            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link discursos" href="/html/discursos.html">Discursos <i class="ms-1 fas fa-microphone"></i></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link ebooks" href="/html/ebooks.html" tabindex="-1" aria-disabled="true">E-books <i class="ms-1 fas fa-tablet"></i></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link sobre-mi" href="/html/sobre-mi.html" tabindex="-1" aria-disabled="true">Sobre mi <i class="ms-1 fas fa-user"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link contacto" href="/html/contacto.html" tabindex="-1" aria-disabled="true">Contacto <i class="ms-1 fas fa-envelope"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link galeria" href="/html/galeria.html" tabindex="-1" aria-disabled="true">Galería <i class="ms-1 fas fa-image"></i></a>
        </li>
      </ul>
      <form class="d-flex">
        <div class="w-100">
          <a href="/index.html" class="position-relative fecha d-flex align-items-end justify-content-end">
            <img width="58" src="/recursos/caricatura.png">
            <h3 class="text-white display-6 logo-name text-end position-relative d-inline-block color-1">JRBlog</h3>       
            
          </a>
        </div>
      </form>
    </div>
  </div>
</nav>             
    </header>

   
